{% extends 'base.html' %}

{% load static %}

{% block title %}
  My Contacts
{% endblock title %}

{% block content %}
  <div class="container">
    <h3 class="heading font-weight-light">Here are your contacts</h3>
    <hr />
  </div>
  {% if contacts %}
    <div class="container main-part">
      {% for  contact in contacts %}
        {% include 'partials/_card.html' %}
      {% endfor %}
      </div>
  {% else %}
    <p class="d-block font-weight-light my-2 heading">No Contacts saved yet...!</p>
  {% endif %}


{% endblock content %}

